@import url("https://fonts.googleapis.com/css2?family=Fraunces:opsz,wght@9..144,700&family=Montserrat:wght@500;700&display=swap");

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

:root {
  --clr-primary-cyan: hsl(158, 36%, 37%);
  --clr-primary-cream: hsl(30, 38%, 92%);

  --clr-neutral-darkBlue: hsl(212, 21%, 14%);
  --clr-neutral-grayBlue: hsl(228, 12%, 48%);
  --clr-neutral-white: hsl(0, 0%, 100%);

  --borderRadius: 1em;
}

img {
  max-width: 100%;
}

body {
  background-color: var(--clr-primary-cream);
  font-family: "Montserrat", sans-serif;
  height: 100vh;
}

.main-container {
  min-height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.flex {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding: 1rem;
}

.card {
  background-color: var(--clr-neutral-white);
  border-radius: var(--borderRadius);
  max-width: 31.25rem;
  width: 100%;
  overflow: hidden;
}

.card-content {
  padding: 1em;
}

.card-content .card-heading {
  font-size: 2rem;
  color: var(--clr-neutral-darkBlue);
  font-family: "Fraunces", sans-serif;
  line-height: 1.5ch;
  margin: 1rem 0;
}

.card-content .card-type {
  text-transform: uppercase;
  letter-spacing: 6px;
  color: var(--clr-neutral-grayBlue);
  font-size: 0.8rem;
}

.card-description {
  color: var(--clr-neutral-grayBlue);
  font-size: 0.875rem;
  line-height: 1.5rem;
  margin: 1.25rem 0;
}

.prices {
  display: flex;
  align-items: center;
  margin-bottom: 1rem;
}

.active-price {
  color: var(--clr-primary-cyan);
  font-size: 2rem;
  font-family: "Fraunces";
}

.image-card {
  height: 100%;
}

.image-card img {
  height: 100%;
}

.old-price {
  margin-left: 1rem;
  text-decoration: line-through;
  color: var(--clr-neutral-grayBlue);
}

.btn-main {
  background-color: var(--clr-primary-cyan);
  color: white;
  border-radius: 0.5rem;
  width: 100%;
  padding: 1rem 0;
  border: none;
  font-size: 0.9rem;
  font-weight: 700;
  color: var(--clr-neutral-white);

  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.75rem;
  cursor: pointer;
}

.btn-main:hover {
  background-color: hsl(158, 38%, 28%);
}

.sr-only:not(:focus):not(:active) {
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  height: 1px;
  overflow: hidden;
  position: absolute;
  white-space: nowrap;
  width: 1px;
}

@media screen and (min-width: 50em) {
  .card {
    display: grid;
    grid-template-columns: 1fr 1fr;
    max-width: 600px;
  }
  .card-content {
    padding: 2rem;
  }
  .image-card {
    height: 100%;
  }
}
